*{
margin:0;
padding:0;
font-weight: 100%;
font-family: Arial;


}

.flex{
	display: flex;
}
.box{
 margin-left:30px;
 text-align: center;
}
img{
	width: 80%;

}
h3{
	margin-top: 40px;
	color:grey;
	font-size: 30px;
}
p{
color: red;

}